
.field, .infobox{
  margin-top: 10px;
  padding: 10px;
  background-color: #F5F5F5;
  border: 1px solid #D8D8D8;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#error_explanation{
  background-color: #BE1E2D;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

#main_page{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: #D9B88B;
}

#logo-text{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn-01{
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  font-size:18px;
  padding:5px 25px;
  text-decoration:none;
  margin-top: 4px;
}
.btn-01:active {
  position:relative;
  top:1px;
}

.btn-01-green {
  background-color:#5cbf2a;
  border:1px solid #18ab29;
  color:#ffffff;
}
.btn-01-green:hover {
  background-color:#5cbf2a;
}

.movie-box{
  border: solid black;
  padding: 5px
}

.tac{
  text-align: center;
}

#order-bar{
  border: solid black;
  background-color: #a8a8a8;
  padding: 10px 5px; 
}