<div id="order-bar">
  Sort by: 
  <%= link_to "Date", root_path(order: 'date') %> | 
  <%= link_to "Likes", root_path(order: 'likes') %> | 
  <%= link_to "Hates", root_path(order: 'hates') %> 
</div>
<br>